.container {
  background: red;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #0E2A54;
  font-size: 50px;
  padding-bottom: 0px;
  text-align: left;
  font-family: "ThaiSans Neue Light";
}

.title1 {
  color: #00E2A5;
  font-size: 50px;
  padding-bottom: 0px;
  text-align: left;
  font-family: "ThaiSans Neue Light";
}

.title2 {
  color: #88EE99;
  font-size: 30px;
  padding-bottom: 20px;
  text-align: left;
}

.text {
  color: #777;
}
.btn {
  display: block;
  position: absolute;
  left: 320px;
  width: 120px;
  padding: 8px 0;
  margin: 50px 0;
  background: #2f79af;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-family: "ThaiSans Neue Light";
  font-size: 20px;
}

.btn1 {
  display: block;
  margin-right: auto;  
  width: 350px;
  padding: 8px;
  background: #ffffff;
  border-radius: 10px;
  color: #ADA5A5;
  text-align: left;
  font-family: "ThaiSans Neue Light";
  font-size: 20px;
}

